body, html {
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: rgb(66, 66, 66);
    background-color: lightblue;
    font-size: 10px;
}

legend {
    font-size: 2rem;
}

#wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 10% 60% 30%;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header header header" 
    "canvas canvas canvas" 
    "buttonsAndtools buttonsAndtools buttonsAndtools";
}

#buttonsAndtools {
    grid-area: "buttonsAndtools";
}

h1 {
    grid-area: "header";
}

canvas {
    grid-area: "canvas";
    background-color: white;
    cursor: crosshair;
}

canvas:hover {
    box-shadow: inset 0 0 0 0.5rem lightcoral;
}

#clearCanvas {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: lightblue;
    color: black;
    margin: 4px 2px;
    padding: 16px 32px;
    border: 2px solid lightcoral;
    transition-duration: 2.0;
}

#clearCanvas:hover {
    background-color: lightcoral;
    color: white;
}

#savePicture {
    cursor: pointer;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: lightblue;
    color: black;
    margin: 4px 2px;
    padding: 16px 32px;
    border: 2px solid rgb(0, 255, 0);
    transition-duration: 2.0;
}

#savePicture:hover {
    background-color: rgb(0, 255, 0);
    color: white;
}